body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    font-size: 50px;
}
span{
    color: orange;
}
p{
    text-align: justify;
    padding-right: 5%;
}

.flexabile-container{
    display: flex;
    margin-bottom: 150px;
}

.half-width{
    width: 50%;
    padding-left: 5%;
}


.half-width img{
    width: 80%;
}

.middle{
    width: 50%;
   
    padding-right: 5%;    
}
.middle img{
    width: 80%;
    padding-left: 5%;
}


.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}

.top-banner{
    background-image:url(../images/top-banner.png);
    background-repeat: no-repeat;
    
}

.middle-banner{
    background-image:url(../images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    
}

.experience{
    background-image:url(../images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: center left; 
    padding-left: 1%;   
}

.box{
    width: 40%;
    margin-left: 5%;
    padding-left: 40px;
    box-shadow: 10px 10px 40px gray;
    border-left: 10px solid;
    height: 450px;
  
}
.blue{
    border-image: linear-gradient(blue, skyblue);
    border-image-slice: 1;
}

.orange{
    border-image: linear-gradient(tomato, orange);
    border-image-slice: 1;
}

footer p{
    text-align: center;
}